<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.ubiment.sensors.sensordemo">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.magnetometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gravity" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.GYROSCOPE" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" android:required="true" />
    <uses-permission android:name="android.hardware.wifi" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="InfoSensor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".OpenGLDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".SensorMagnetometerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ch.ubiment.sensors.sensordemo.SENSORMAGNETOMETERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".List_Activity"
            android:label="InfoSensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ch.ubiment.sensors.sensordemo.LIST_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>